* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,body {
  font-size: 16px;
  font-family: Roboto,sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.container {
  width: 500px;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

form input {
  width: 100%;
  padding: 10px 5px;
  font-size: 20px;
}
